attrs
cachetools
certifi
cffi
charset-normalizer
colorama
cycler
dataclasses-json
filelock
fonttools
frozenlist
fsspec
gigachain
gigachain-community
gigachain-core
gigachat
gpt4all
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
h11
httpcore
httpx
huggingface-hub
idna
Jinja2
joblib
jsonpatch
jsonpointer
kiwisolver
langchain
langchain-community
langchain-core
langchain-google-vertexai
langchain-text-splitters
MarkupSafe
marshmallow
matplotlib
mpmath
multidict
mypy-extensions
networkx
numpy
orjson
packaging
pandas
pdf2image
pdfminer.six
pdfplumber
Pillow
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pydantic
pyparsing
PyPDF2
pypdfium2
pyprof2calltree
pyTelegramBotAPI
pytesseract
python-dateutil
pytz
PyYAML
regex
requests
rsa
safetensors
scikit-learn
scipy
sentence-transformers
shapely
six
sniffio
SQLAlchemy
sympy
telebot
tenacity
threadpoolctl
tika
tiktoken
tokenizers
torch
tqdm
transformers
types-protobuf
types-requests
typing-inspect
typing_extensions
tzdata
urllib3
yarl
gradio
tesseract
